[Unit]
Description=Danmaku Render
Requires=danmaku-fetcher.service
After=danmaku-fetcher.service

[Service]
Type=simple
WorkingDirectory=/root/Host-Program
ExecStart=/bin/sh -c '/root/Host-Program/danmaku </tmp/danmaku.fifo'
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
